In [3]:
# Import libraries
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sb
import numpy as np
import warnings
# from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.linear_model import LogisticRegression
# from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix
# from catboost import CatBoostClassifier

warnings.filterwarnings('ignore')

In [49]:
# Train Data 
data = pd.read_csv('data/data.csv')
data.head(10)

   id     feat0     feat1     feat2     feat3     feat4  treatment  target
0   0  0.400729  0.808413  0.943385  0.198770 -2.896355          1     906
1   1  1.115889 -2.107072 -0.512322 -0.206800  0.705603          1     558
2   2 -0.153704 -0.010682 -0.386020  0.274708 -0.277327          1     386
3   3 -1.598411  0.084529 -1.271734 -1.552409  0.819762          0     391
4   4  2.328404 -1.731663  0.069395  0.339403  0.629478          0     434

In [78]:
loaded_data = np.load('data/example_preds.npy')
len(loaded_data)

40000